* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
}

.card {
    background-color: #fff;
    border: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #444;
}



.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}
h1{
    text-align: center;
    padding:20px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.box{
    text-align:center;
    font-weight:600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#button{
    padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width:820px) {
     .button{
        font-size:15px;
        padding:10px 10px;
        font-weight:600;
     }
.btn{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

}